#one {
    display: flex;
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: left;
}

#one .inner {
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: 100%;
}

#one {
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon {
    background-color: white;
}


.icon:hover {
    color: #ffffff;
}

.icon:hover {
    background-color: rgba(190, 190, 190, 0.4);
    transition: all 0.5s ease-in-out;
}

.tae-pic {
    border-radius: 50%;
    width: 25rem;
    height: 25rem;
}

.company-name {
    color: #2ddbcd;
}

.tae-tech-icons {
  display: grid;
  grid-template-columns: repeat(6, 5em);
  grid-gap: 1px;
  justify-items: center;
  height: auto;
}

.small-tech-icons {
    font-size: 10px;
}

.small-tech-icons p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.small-tech-icons img {
    width: 28px;
    height: 28px;
}

.spotlight .image img {
    display: block;
    object-fit: cover;
    height: 100%;
}

.spotlight .image {
    height: 100%;
}

.spotlight {
    height: 330px;
}

.features {
    list-style: none;
}

.features .projects-gif {
    padding: 0;
}

.features .projects-gif a {
    border-bottom: none;
    height: 100%;
}

.features .projects-description {
    padding: 40px;
}

.features .projects-gif img {
    width: 100%;
    height: 330px;
    object-fit: cover;
}

.project-logos {
    height: 50px;
}

.project-links {
    display: flex;
    justify-content: space-evenly;
}

.project-links a {
    width: 40%;
    border-radius: 5px;
    border: 1px solid #ffffff;
}

.skills-tech-icons img {
    width: 150px;
    height: 150px;
}

.skills-tech-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: auto;
    justify-items: center;
}

.skills-tech-icons p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icons .contact-logos, .icons .contact-logos:hover {
    background-color: transparent;
}


@media screen and (max-width: 1280px) {
    #one {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .tae-pic {
        width: 20rem;
        height: 20rem;
        margin-bottom: 3rem;
    }

    #one .inner {
        padding-left: 1rem;
        padding-right: 1rem;
        width: 40rem;
    }
}

@media screen and (max-width: 980px) {
    .small-tech-icons {
        justify-content: center;
    }

    .spotlight .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .spotlight .content p {
        width: 400px;
        text-align: center;
    }

    .skills-tech-icons img {
        width: 75px;
        height: 75px;
    }

    .button {
        padding: 0;
    }

    .spotlight {
        height: 100%;
    }

    .spotlight .image img {
        object-fit: cover;
    }

    .spotlight .image {
        height: 330px;
    }
}

@media screen and (max-width: 736px) {
    #one {
    padding-left: 5px;
    padding-right: 5px;
    }

    .tae-pic {
        width: 12rem;
        height: 12rem;
    }

    .small-tech-icons {
        grid-template-columns: repeat(3, 9em);
    }

    .spotlight .content p {
        width: 90%;
    }

    .features li:nth-child(1) {
        order: 1;
    }
    .features li:nth-child(2) {
        order: 2;
    }
    .features li:nth-child(3) {
        order: 4;
    }
    .features li:nth-child(4) {
        order: 3;
    }
    .features li:nth-child(5) {
        order: 5;
    }
    .features li:nth-child(6) {
        order: 6;
    }

    .features .projects-gif img {
        width: 100%;
        height: 200px;
        object-fit: fill;
    }

    #three, #four {
        padding-left: 0;
        padding-right: 0;
    }

    .skills-tech-icons {
        grid-template-columns: repeat(4, 1fr);
    }

    .spotlight .image img {
        object-fit: fill;
    }

    .spotlight .image {
        height: 330px;
    }
}